body{
	background-image: url("../image/galaxy(2).jpg");
	background-size: cover;

}

#section_Pluto{
	font-size: 40px;
	color:skyblue;
	font-family: monospace;
	text-align: center;
	width: 210px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 40px;
}

#section_Wishing{
	font-size: 30px;
	color:gold;
	font-family: times;
	width: 350px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

#section_Hayden{
	font-size: 36px;
	color:purple;
	font-family: monospace;
	width:325px;
	height:45px;
	margin:0 auto;
	margin-bottom: 40px;
	text-align: center;
}

#logo img {
	margin: 0 auto;
	display:block;
	position: relative;
}
a{
	color: pink;
}
@media screen and (max-width : 3000px) {}
;